@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4"><strong>App Name: </strong>@ViewData["APP_NAME"]</h2>
    <h2 class="display-4"><strong>Machine Name: </strong>@ViewData["MACHINE_NAME"]</h2>
    <h2 class="display-4"><strong>Request Rost: </strong>@ViewData["REQUEST_HOST"]</h2>
    <h2 class="display-4"><strong>Request Path: </strong>@ViewData["REQUEST_PATH"]</h2>
</div>

